@import 'variables';
@import 'fonts';
@import '~nes.css/css/nes.min.css';
@import 'nes-overrides';
@import 'animations';

html, body {
  cursor: $cursor-hand;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.42;
}

a, summary {
  cursor: $cursor-hand-pointer;
}

#app {
  font-family: $font-family;
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
}

header {
  border-bottom-style: dotted;
  margin-bottom: 40px;
  padding-bottom: 10px;
  position: relative;
}

footer {
  text-align: center;
  margin-top: 80px;
}

.zava-icon {
  background-color: $zava-blue;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 70px;
  padding: 20px 30px 10px 40px;
}

[contenteditable], .editable {
  animation: blink 1s linear infinite;
}
