
// Message ballons
.message {
  display: flex;

  &.message.-left {
    align-self: flex-start;
  }

  &.message.-right {
    align-self: flex-end;
  }

  i {
    align-self: flex-end;
  }
}

// Google icon background
.nes-icon.google::before {
  color: transparent !important;
}

.nes-input::placeholder {
  opacity: .3;
}

// Button groups
.nes-btn-group {
  .nes-btn:first-child {
    z-index: 1
  }
}

@for $i from 0 to 5 {
  .nes-btn-group .nes-btn:nth-child(#{$i + 1}) {
    left: -($i*8px);
  }
}

// Button hover animation
.nes-btn {
  transition: background .5s;
}
