
// Message ballons
.message {
  display: flex;

  &.message.-left {
    align-self: flex-start;
  }

  &.message.-right {
    align-self: flex-end;
  }

  i {
    align-self: flex-end;
  }
}

// Google icon background
.nes-icon.google::before {
  color: transparent !important;
}

.nes-input::placeholder {
  opacity: .3;
}

// button.nes-btn.is-primary {
//   background-color: $zava-blue;
// }
